TP2/nodered/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a1979d1c90c2954",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "14a9230679858429",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "iot",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": false
    },
    {
        "id": "50df908f873c3015",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "sensor/ambiente",
        "topic": "sensor/ambiente",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9a1979d1c90c2954",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [["1998a3f79499cc51"]]
    },
    {
        "id": "1998a3f79499cc51",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 280,
        "wires": [["1bf75423f473a6a6"]]
    },
    {
        "id": "1bf75423f473a6a6",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "14a9230679858429",
        "name": "",
        "measurement": "ambiente",
        "precision": "",
        "retentionPolicy": "",
        "database": "iot",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 530,
        "y": 280,
        "wires": []
    }
]
